.nav {
	background-color: #F9F9FA;
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 15px 40px;
	box-sizing: border-box;
	z-index: 1;
}

.nav__btn {
	display: flex;
	justify-content: space-between;
	color: #2E373D;
}

.nav__btn-a {
	display: flex;
	align-items: center;
	position: relative;
}

@keyframes commentNotification {
	0% {
		transform: none;
	}
	50% {
		transform: translateY(-5px) rotateY(180deg);
	}
	100% {
		transform: none;
	}
}

.nav__btn-notice {
	text-align: center;
	position: absolute;
	left: 20px;
	bottom: 15px;
	animation: commentNotification 2s ease-in-out infinite;
}


@keyframes navBtnAppear {
	from {
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}

.nav__btn-link {
	transform: translateY(50px);
	opacity: 0;
	animation: navBtnAppear 0.3s ease-in-out forwards;
}

.nav__btn-link:nth-child(2) {
	animation-delay: 0.3s;
}

.nav__btn-link:nth-child(3) {
	animation-delay: 0.6s;
}

.nav__btn-link:last-child {
	animation-delay: 0.9s;
}