.no-mobile {
	position: absolute;
	background-color: var(--yellow);
	height: 100vh;
	width: 100%;
	top: 0;
	z-index: 110;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

@media screen and (max-width : 900px) {
	.no-mobile {
		display: none;
	}
}